name: Integration test

on:
  pull_request:
    branches:
      - main
      - "**"

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Test with Maven
        run: mvn --batch-mode clean test
        env:
          CHROMA_VERSION: 1.0.0
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
          HF_API_KEY: ${{ secrets.HF_API_KEY }}
